PORT=enter_your_port_where_you_want_to_use_your_backend
NODE_ENV=development/production
DATABASE_URL=postgresql://user:password@localhost:5432/stucare
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
OPENROUTER_API_KEY=your_openrouter_key_here
OPENROUTER_API_URL=check_the_model_page.
OPENROUTER_MODEL=your_model_identifier_here
ALGORITHM_SERVICE_URL=http://localhost:8000